<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyDropBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MyDropBox.Properties.Settings>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
        </MyDropBox.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Nemiro.OAuth" publicKeyToken="cb06320e362d440b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.0.2799" newVersion="1.13.0.2799" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>