<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--facebook,twitter,vk,mail.ru,google,yandex,odnoklassniki,github,live,amazon,dropbox,foursquare,soundcloud,yahoo,linkedin,instagram,tumblr,codeproject,sourceforge,assembla-->
    <add key="oauth:clients" value="" />

    <add key="oauth:facebook:id" value="" />
    <add key="oauth:facebook:key" value="" />
    <add key="oauth:facebook:scope" value="user_likes,publish_actions" />
    
    <add key="oauth:twitter:id" value="" />
    <add key="oauth:twitter:key" value="" />

    <add key="oauth:vk:id" value="" />
    <add key="oauth:vk:key" value="" />
    <add key="oauth:vk:scope" value="audio" />

    <add key="oauth:mail.ru:id" value="" />
    <add key="oauth:mail.ru:key" value="" />

    <add key="oauth:google:id" value="" />
    <add key="oauth:google:key" value="" />
    <add key="oauth:google:scope" value="https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/contacts.readonly" />
    <add key="oauth:google:parameters" value="access_type=offline" />

    <add key="oauth:yandex:id" value="" />
    <add key="oauth:yandex:key" value="" />

    <add key="oauth:odnoklassniki:id" value="" />
    <add key="oauth:odnoklassniki:key" value="" />
    <add key="oauth:odnoklassniki:publicKey" value="" />
    <add key="oauth:odnoklassniki:scope" value="VALUABLE_ACCESS;PHOTO_CONTENT" />

    <add key="oauth:github:id" value="" />
    <add key="oauth:github:key" value="" />

    <add key="oauth:live:id" value="" />
    <add key="oauth:live:key" value="" />
    <add key="oauth:live:scope" value="wl.offline_access" />

    <add key="oauth:amazon:id" value="" />
    <add key="oauth:amazon:key" value="" />

    <add key="oauth:dropbox:id" value="" />
    <add key="oauth:dropbox:key" value="" />

    <add key="oauth:foursquare:id" value="" />
    <add key="oauth:foursquare:key" value="" />

    <add key="oauth:soundcloud:id" value="" />
    <add key="oauth:soundcloud:key" value="" />

    <add key="oauth:yahoo:id" value="" />
    <add key="oauth:yahoo:key" value="" />

    <add key="oauth:linkedin:id" value="" />
    <add key="oauth:linkedin:key" value="" />
    
    <add key="oauth:instagram:id" value="" />
    <add key="oauth:instagram:key" value="" />

    <add key="oauth:tumblr:id" value="" />
    <add key="oauth:tumblr:key" value="" />

    <add key="oauth:codeproject:id" value="" />
    <add key="oauth:codeproject:key" value="" />
    
    <add key="oauth:sourceforge:id" value="" />
    <add key="oauth:sourceforge:key" value="" />

    <add key="oauth:assembla:id" value="" />
    <add key="oauth:assembla:key" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
