<li>@Ajax.ActionLink(DemoOAuth.Strings.FriendsList, "MailRu", "Api", new { method = "friends.get" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "apiResults", OnBegin = "OnBegin()", OnComplete = "OnComplete()" })</li>
<li>@Ajax.ActionLink(DemoOAuth.Strings.UpdatesList, "MailRu", "Api", new { method = "stream.get" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "apiResults", OnBegin = "OnBegin()", OnComplete = "OnComplete()" })</li>
