<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
  </head>
  <body>
    <div id="page">
      @RenderBody()
    </div>
    <hr />
    <small>Nemiro.OAuth v@(System.Reflection.Assembly.GetAssembly(typeof(Nemiro.OAuth.OAuth2Client)).GetName().Version)</small>
  </body>
</html>