<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TwitterExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitterExample.Properties.Settings>
            <setting name="ConsumerKey" serializeAs="String">
                <value>cXzSHLUy57C4gTBgMGRDuqQtr</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>3SSldiSb5H4XeEMOIIF4osPWxOy19jrveDcPHaWtHDQqgDYP9P</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
        </TwitterExample.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Nemiro.OAuth" publicKeyToken="cb06320e362d440b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.0.2799" newVersion="1.13.0.2799" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
