body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

pre{font-size:1.4em;}
code{font-size:1.4em;}

h2{margin-top:1.6em;margin-bottom:1.2em;}

ul.oauth{list-style-type:none;}
ul.oauth li{float:left;padding:4px;}

.message{border:1px solid #CCCCCC;margin-top:12px;margin-bottom:12px;}
.message .title{font-weight:bold;padding:2px;background-color:#CCCCCC;}
.message .text{padding:2px;}

#download .date-release{color:#666666;font-size:0.8em;}
#download a { min-width:75px;display:inline-block;}

.clear{clear:both;}

#page{width:960px;margin-left:auto;margin-right:auto;}

table {border-collapse: collapse;}
table tr th {padding: 4px;background-color: #E6E6E6;border: solid 1px #999999;color: #666666;font-weight: bold;text-align: left;vertical-align: middle; }
table tr td {padding: 4px;background-color: #FFFFFF;border: solid 1px #999999; }

#buttons {margin-top:24px;margin-bottom:8px;position:relative;}

#buttons ul { list-style: none; margin: 0; padding: 0; }
#buttons ul li { float: left; margin-right: 4px; margin-bottom: 12px; display:block; }
#buttons ul > li:nth-child(5n+1) {
	clear: left;
}

#buttons a, .btn 
{
  text-decoration: none;
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#buttons a:hover, .btn:hover,
#buttons a:active, .btn:active,
#buttons a.active, .btn.active,
#buttons a.disabled, .btn.disabled,
#buttons a[disabled], .btn[disabled] {
color: #333333;
background-color: #e6e6e6;
*background-color: #d9d9d9;
}

#buttons a:active, .btn:active,
#buttons a.active, .btn.active {
  background-color: #cccccc \9;
}

#buttons a:hover, .btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

#buttons a:focus, .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#buttons a.active, .btn.active,
#buttons a:active, .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#buttons a:disabled, .btn.disabled,
#buttons a[disabled], .btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#buttons a.btn-large, .btn-large {
  padding: 11px 19px;
  font-size: 14px;
  font-weight:bold;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

#buttons a.btn-large[class^="icon-"], .btn-large [class^="icon-"],
#buttons a.btn-large[class*=" icon-"], .btn-large [class*=" icon-"] {
  margin-top: 4px;
}

#buttons a.btn-small, .btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#buttons a.btn-small [class^="icon-"], .btn-small [class^="icon-"],
#buttons a.btn-small [class*=" icon-"], .btn-small [class*=" icon-"] {
  margin-top: 0;
}

#buttons a.btn-mini [class^="icon-"], .btn-mini [class^="icon-"],
#buttons a.btn-mini [class*=" icon-"], .btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

#buttons a.btn-mini, .btn-mini {
  padding: 0 5px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#buttons a.btn-block, .btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

#processing 
{
	background-image:url('/content/images/processing.gif');
	background-color:rgba(255, 255, 255, 0.65);
	position:absolute;
	width:960px;
	height:60px;
	display:none;
}

#resultContainer
{
	background-image: none;
	height:350px;
	width: 100%;
}

#resultContainer.processing
{
	background-image:url('/content/images/processing2.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

.nuget-badge {
  color: #333;
  font-family: "Segoe UI","Trebuchet MS",Verdana,Helvetica,Sans-Serif;
  font-size: .85em;
}

.nuget-badge code {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #202020;
  border: 4px solid silver;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #6e6e6e;
  color: #e2e2e2;
  display: block;
  font: 1.5em 'andale mono','lucida console',monospace;
  line-height: 1.5em;
  overflow: auto;
  padding: 15px;
}

.nuget-badge code::before {
  content: "PM> ";
}